Country Homepage
<html>
  <head>
      <title>Your Country Homepage</title>
      <link href="/stylesheet.css" rel="stylesheet"/>
  </head>

  <body>
    <%- include('navbar.ejs') %>

    
    <h1 align ="center"><%=country.name%></h1>
    <p align ="center">Pizzas: <%=country.resources.pizzas%></p>
    <p align = "center">Ore: <%=country.resources.ore%></p>
    <p align = "center">Energy: <%=country.resources.energy%></p>
    <p align = "center">Water: <%=country.resources.water%></p>
    <p align = "center">Population: <%=country.resources.population%></p>

    <table>
      <tr>
        <th>dilemma</th>
        <th>decision</th>
      </tr>
      <tr>
        <td>x</td>
        <td>y</td>
      </tr>
      <tr>
        <td>x</td>
        <td>y</td>
      </tr>
      <tr>
        <td>x</td>
        <td>y</td>
      </tr>
      <tr>
        <td>x</td>
        <td>y</td>
      </tr>
    
    </table>
  </body>
</html>
